.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/**
node_modules/**
.github/**
esbuild.mjs
tsconfig.json
eslint.config.mjs
images/icon.svg
**/*.map
**/*.ts
.gitignore
pnpm-lock.yaml
pnpm-workspace.yaml
